.product__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.product__innerContainer{
    width: 300px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    transition: ease-in-out 0.2s all;
    background-color: #fff;
    border-radius: 5px;
}
.product__innerContainer:hover{
    transition: ease-in-out 0.3s all;
    z-index: 2;
    box-shadow: #ee7057b0 0 0 10px;
    transform: scale(1.05);
}
.product__innerContainer:hover .product__heading{
    color: #ee6f57;
    transition: ease-in-out 0.3s all;
}
.product__heading{
    color: #000000;
}
.product__img{
    height: 200px;
    width: 200px;
}